#Virtual Environment
backend/.venv/
backend/venv/
backend/ENV/

#Python Cache & Databases
backend/**/__pycache__/
backend/**/*.py[cod]
backend/*.db
backend/*.sqlite3

#Environment Variables & Secret Keys
.env

#Generated Artifacts
backend/src/storage/files/

#Frontend (nanti bila frontend wujud)
frontend/node_modules/
frontend/.env

#Test Coverage
.coverage
htmlcov/

#Generic
__pycache__/